.aboutme {
    background-color: #95B9A6;
    height: 593px;
    width: 1478px;
    margin-left: auto;
    margin-right: auto;
}

.pic01 {
    width: 290px;
    height: 280px;
    border-radius: 20px;

}

.inf {
    color: rgb(107, 102, 102);
    font-size: 44px;
    position: relative;
    left: 410px;
    top: -300px;
}


.picbox {
    width: 340px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
    top: 30px;
    background-color: #a5c0b1;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
        inset 15px 15px 10px rgba(255, 255, 255, 0.55),
        -15px -15px 25px rgba(255, 255, 255, 0.35),
        inset -1px -1px 10px rgba(0, 0, 0, 0.2);

}

.cover {
    width: 290px;
    height: 280px;
    position: relative;
}

.cover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
    box-shadow: 0 0 50px 30px #a5c0b1 inset;
}

.textblock {
    position: relative;
    text-align: center;
    display: grid;
    top: -550px;
    left: 700px;
    width: 500px;
    height: 400px;
}

.textblock .span1 {
    font-size: 30px;
    color: rgb(107, 102, 102);
}

.textblock>.span2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: rgb(107, 102, 102);
}


.sen1 {
    font-weight: bold;
    text-align: left;
    font-size: 70px;
    position: relative;
    top: 10px;
    color: rgb(255, 255, 255);
    -webkit-animation: flicker 2s infinite;

}


.sen2 {
    font-weight: bold;
    text-align: right;
    font-size: 70px;
    position: relative;
    top: 20px;
    background-color: #95B9A6;
    color: rgb(255, 255, 255);
    -webkit-animation: flicker 2s infinite;
}

@-webkit-keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }

}

.icon {
    position: relative;
    left: 58px;
    top: -700px;
    padding-bottom: 10px;
}

.icontext a {
    text-decoration: none;
    color: rgb(107, 102, 102);
    font-size: 30px;
    position: relative;
    left: 130px;
    top: -935px;
    line-height: 75px;
}